* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background: #23252C;
    color: white;
}
.center {
    margin: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    background: #1A1B21;
    width: 317px;
    border-radius: 15px 15px 15px 15px;
}
.info--img {
    width: 317px;
    height: 317px;
    border-radius: 15px 15px 0px 0px;
}
.info--name {
    font-weight: 600;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-bottom: -5px;
    color: #FFFFFF;
    transition: 0.1s;
}
.info--name:hover {
    transform: scale(1.046);
    color: #FFA5A5;
}
.info--title {
    font-size: 12.8px;
    font-weight: 300;
    color: #cc8484;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-bottom: 5px;
}
.webContainer {
    text-align: center;
    width: 100%;
}
.info--website {
    font-size: 10.24px;
    font-weight: 300;
    color: #FFA5A5;
    font-family: 'Inter', sans-serif;
    color: #F5F5F5;
    width: 228px;
}
.info--buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.info--buttons > button {
    align-content: center;
    align-items: center;
    width: 115px;
    padding: 10px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
    border-radius: 10px;
}
.info--email {
    color: #374151;
    border-width: 2px;
    border-color: #D1D5DB;
}
.info--linkedIn {
    background: #5093E2;
    color: #FFFFFF;
    height: 42px;
}
.info--linkedIn--img {
    width:16px;
    border:0;
    margin-right: 5px;
    margin-top: -4px;
    vertical-align: middle;
}
.about { 
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about--title {
    font-size: 18px;
}
.about--text {
    line-height: 15px;
    margin-top: -5px;
    font-size: 10.24px;
}
.interests { 
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.interests--title {
    font-size: 18px;
}
.interests--text {
    line-height: 15px;
    margin-top: -5px;
    font-size: 10.24px;
}
.footer {
    height: 64px;
    background-color: #161619;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer > button {
    border-radius: 10px;
    border-width: 0px;
    margin: 10px;
    font-size: 27px;
    background-color: #918E9B;
    padding-top: 4px;
    padding-bottom: 4px;
}
button {
    transition: 0.1s;
}
button:hover {
    transform: scale(1.09);
    opacity: 0.9;
}