/* Dark / Light Mode Settings */
@media (prefers-color-scheme: light) {
  :root {
    --mainText: #2b283a;
    --lightText: #353436;
    --background: #fdfeff;
    --accent: #7ccccc;
    --darkAccent: #78dfdf;
    --darkestAccent: #68d7d6;
    --reverse: #9b72c1;
    --filter: saturate(0%);
    --filterBorder: black;

  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --mainText: #ffffff;
    --lightText: #E0E0E0;
    --background: #111119;
    --accent: #8022d7;
    --darkAccent: #72538e;
    --darkestAccent: #42176a;
    --reverse: #5af5e3;
    --filter: saturate(0%);
    --filterBorder: white;
    --sortFilter: hue-rotate(30deg);
  }
}
/* Load In Animation */
@keyframes loadAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 100;
    transform: translateX(Y);
  }
}
* {
  transition: 0.3s;
  animation: 1s ease-in-out 0s 1 loadAnimation;
}
html {
  overflow: hidden;
}
body {
  animation: 1s ease-in-out 0s 1 loadAnimation;
  background: var(--background);
  border-radius: 15px;
  min-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

/* ERROR */
.errorDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  background-color: rgb(186, 16, 16);
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 7px;
  font-size: 10px;
  width: auto;
  font-weight: bolder;
  text-align: center;
}
/* TITLE */
.title {
  background: var(--background);
  font-size: 20px;
  text-align: center;
  color: var(--mainText);
  font-weight: bold;
  border-radius: 15px;
}
.title--box {
  font-weight: bolder;
  color: var(--accent);
}
.title--slogan {
  font-size: 17px;
  color: var(--lightText);
  font-weight: bold;
}
/* SEARCH BAR */
.event--search {
  height: 35px;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 295px;
}
textarea:focus,
input:focus {
  outline: none;
}
input[type="text"] {
  color: var(--mainText);
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--accent);
  width: 250px;
  font-size: 15px;
}
#searchBtn {
  vertical-align: bottom;
  background: var(--background);
  color: white;
  border-color: var(--accent);
  border-radius: 50px;
  transition: transform 0.2s ease-in-out;
}
#searchBtn:hover {
  transform: scale(1.1);
}
#searchBtn:active {
  transform: scale(0.95);
}
#searchImg{
  height: 30px;
}
.input-el::placeholder {
  font-size: 17px;
}

/* POPUP */
.popup--Dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.wrapper {
  background: var(--background);
}
.mainDiv {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 275px;
  overflow: hidden;
}

/* SETTINGS */
.settings--main {
  color: var(--mainText);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings--left {
  display: flex;
  align-items: center;
}

.settings--btn {
  border: none;
  background: none;
  transition: transform 0.2s ease-in-out;
}

.settings--img {
  filter: var(--filter);
  border-radius: 50px;
  border: none;
  height: 20px;
}

.settings--btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.settings--btn:active {
  transform: scale(0.95);
}

.filter--btn {
  height: 35px;
  background: none;
  border: none;
  transition: 0.2s ease-in-out;
}

.filter--img {
  filter: var(--sortFilter);
  transition: 0.2s ease-in-out;
  height: 27px;
}

.filter--img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.filter--img:active {
  transform: scale(0.95);
}

.settings--right {
  display: flex;
}

.save--btn {
  background: none;
  border: none;
}

.save--img {
  height: 35px;
  transition: 0.2s ease-in-out;
}
.save--img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.save--img:active {
  transform: scale(0.95);
}
/* LOADER */
.loader {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 30px;
  transition: 0.4s;
}
/* EVENT LIST */
.listDiv {
  overflow-y: scroll;
  max-height: 500px;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: var(--accent);
}
.listDiv::-webkit-scrollbar {
  width: 8px;
}

.listDiv::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 4px;
}

.listDiv::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

.listDiv::-webkit-scrollbar-track {
  background: transparent;
}

.eventDiv {
  width: 270px;
  border-radius: 1px;
  overflow: hidden;
  color: var(--mainText);
  background: var(--darkestAccent);
  padding: 10px;
  margin: 10px;
  transition: 0.3s;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 2px 3px var(--accent);
}
.eventDiv:hover {
  transform: scale(1.05);
  background: var(--accent);
  box-shadow: 2px 3px var(--mainText);
}
.event {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.imgDiv {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event--img {
  width: 70px; 
  height: 70px; 
  object-fit: cover;
  border-radius: 10px;
}
.infoDiv {
  width: 75%;
  margin-left: 10px;
}
.event--title {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  font-weight: bolder;
  font-size: 15px;
}
.event--date {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 11px;
  color: var(--lightText);
  text-align: left;
}
.event--button {
  background: none;
  border: none;
  width: 0px;
}
.event--icon--image {
  fill: var(--mainText);
  height: 20px;
  width: 20px;
  transition: 0.3s;
  margin: 0px 15px 0px 15px;
  text-decoration: none;
}
.event--icon--image:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.event--info {
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.event--info--description {
  font-weight: lighter;
  font-size: 12px;
}