.loader {
    color: var(--accent);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s;
    z-index: 9999;
    background-color: var(--main); 
}

.hidden {
    opacity: 0; 
    pointer-events: none;
}

.visible {
    opacity: 1; 
}